body {
    background-color: black;
    color: aliceblue;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: aquamarine;
}
main > h2 {
    text-align: center;
    font-size: 23px;
    color: aquamarine;
}
section {
    text-align: left;
    font-size: 15px;
}